body {
  background-color: rgb(234, 233, 233);
  font-family: 'Courier New', Courier, monospace;
  margin: 0
}

.header {
  display: flex;
  align-items: center;
  padding-left: 50px;
  background-color: white;
  width: 100%;
}

.topleft {
  width: 60%
}

.nav {
  width: 40%;
  display: inline;
}

.nav a {
  display: inline;
  align-self: center;
  padding-left: 30px;
  margin-top: 10px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  float: left;
}

.dropdown {
  float: left;
}

.dropdown .dropdown-button {
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: white;
  padding-top: 10px;
  padding-left: 30px;
  font-family: inherit;
  margin: 0;
}

.dropdown-menu {
  padding-top: 5px;
  display: none;
  position: absolute;
  max-width: 225px;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  float: none;
  display: block;
  text-align: left;
  padding: 10px 16px;
}

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  padding-top: 20px;
  padding-left: 50px;
}

.picofme {
  height: 350px;
  width: 350px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description {
  text-align: center;
  padding: 50px
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px
}

.contactinfo {
  padding-top: 5px;
  padding-left: 75px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.c {
  color: blue;
}